@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  /*background-image: url("./images/sample1.jpg");
  background-repeat: no-repeat;
  background-size: auto;*/
  font-size: 25px;
  box-sizing: border-box;
  background-blend-mode: multiply;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  align-content: center;
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

.row {
  position: relative;
  padding-left: 130px;
  padding-right: 130px;
  margin-top: 10px;
}

.city {
  box-shadow: none;
  padding: 8px;
  padding-right: 100px;
  color: whitesmoke;
  border: solid whitesmoke;
  border-width: 3px;
  background-color: rgba(96.1, 96.1, 96.1, 0.4);
  margin-top: 100px;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.country {
  box-shadow: none;
  padding: 8px;
  padding-right: 100px;
  color: whitesmoke;
  border: solid whitesmoke;
  border-width: 3px;
  background-color: rgba(96.1, 96.1, 96.1, 0.4);
  margin-top: 100px;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.9;
}

.btn {
  padding: 8px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: solid rgba(96.1, 96.1, 96.1, 1);
  border-width: 3px;
  background-color: rgba(245, 245, 245, 0.9);
  color: rgba(96.1, 96.1, 96.1, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: rgba(0, 136, 169, 1);
  background-color: rgba(245, 245, 245, 1);
}

.footer {
  position: absolute;
  font-size: 12px;
  margin-top: 200px;
  margin-left: 640px;
  margin-bottom: 10px;
  cursor: default;
}

.cards h3 {
  text-transform: capitalize;
}

.welcome {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-top: 230px;
  cursor: default;
}

.cards h1 {
  cursor: default;
}

.cards h2 {
  cursor: default;
}

.cards h3 {
  cursor: default;
}

.errMsg {
  cursor: default;
}
